.App {
  text-align: center;
}







/* -----------------header--------------- */
.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  align-self: center;
  margin: 1rem;
  /* border: red 2px solid; */
  width: 25vw;
  justify-content: space-between;
}

.header-button {
  margin: 1rem;
}
.header-title {
  margin-left: 2rem;
}

@media only screen and (max-width: 492px) {
.header-title {
  margin-left: 1rem;
}

.header-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

}
/* -----------------footer--------------- */
.footer-container {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: white;
}

.footer-copyright {
  font-size: 22px;
  margin-right: 2rem;
}

@media only screen and (max-width: 492px) {

.footer-copyright {
  font-size: 22px;
  margin-left: 1rem;
}

}